body {
    overflow-x: hidden;
    width: 375px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    width: max-content;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E8EFF2;
    color: #162542;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    margin-right: 1em;
}

.title {
    width: 327px;
    color: #162542;
    font-family: Barlow;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    text-transform: uppercase;
}

.bio {
    width: 327px;
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.lower {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.preorder-middle {
    width: max-content;
    border: none;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F16718;
    color: #FFF;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.release {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.keyboard {
    width: 100%;
    border-radius: 10px;
    flex-shrink: 0;
    margin-top: 1em;
    position: relative;
    left: 5px;
}

.keyboard-tablet,.keyboard-desktop {
    display: none;
}

.grid-primary,.grid-secondary {
    display: grid;
}

.grid-primary {
    grid-template-areas: 
        'one two'
        'three four';
    margin-top: 30px;
}

.left-img,.right-img {
    border-radius: 10px;
    position: relative;
}

.left-img-tablet,.right-img-tablet,.left-img-desktop,.right-img-desktop {
    display: none;
}

.left-img {
    width: 120px;
    height: 222px;
    right: 2em;
    grid-area: one;
}

.right-img {
    width: 250px;
    left: -14em;
    grid-area: two;
}

.section-title-div {
    text-align: center;
}

.section-title {
    width: 255px;
    color: #162542;
    text-align: center;
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
    position: relative;
    left: 20px;
    grid-template: three;
}

.section-txt {
    width: 327px;
    color: #7B8BAD;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    grid-template: four;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.card svg {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}

.card h3 {
    width: 327px;
    color: #162542;
    text-align: center;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
}

.card p {
    width: 327px;
    color: #7B8BAD;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.copy {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.copy span {
    font-weight: 500;
}

@media (min-width: 768px) {

    .order-btn {
        position: relative;
        left: 95%;
    }

    header {
        margin-bottom: 2.5em;
    }
    
    .keyboard {
        display: none;
    }

    .keyboard-tablet {
        display: initial;
        width: 360px;
        height: 526px;
        border-radius: 10px;
        flex-shrink: 0;
        margin-left: 73px;
    }

    .upper-title {
        width: 339px;
        color: #162542;
        font-family: Barlow;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
    }

    .upper-txt {
        width: 339px;
        color: #7B8BAD;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }

    .left-img,.right-img {
        display: none;
    }

    .left-img-tablet,.right-img-tablet {
        display: initial;
        border-radius: 10px;
    }

    .advert,.advert-outer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advert {
        flex-direction: column;
    }

    .advert-outer {
        justify-content: space-between;
    }

    .preorder-middle {
        margin-right: 30px;
    }

    .grid-primary {
        grid-template-areas: 
        'one two'
        'three';
    }

    .left-img-tablet {
        width: 30%;
        grid-area: one;
    }

    .right-img-tablet {
        width: 459px;
        grid-area: two;
        position: relative;
        right: 30em;
    }

    .section-title-div {
        grid-area: three;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-title {
        margin-right: 5em;
    }

    .section-title,.section-txt {
        text-align: left;
    }

    .grid-secondary {
    grid-template-areas: 
        'compatible wireless'
        'battery rgb';
        grid-gap: 55px;
        margin-left: 1.5em;
        margin-top: 4em;
}

.card h3, .card p {
    text-align: left;
}

.card svg {
    position: relative;
    right: 8em;
}

.compatible {
    grid-area: compatible;
}

.wireless {
    grid-area: wireless;
}

.battery {
    grid-area: battery;
}

.backlit {
    grid-area: rgb;
}

.copy {
    position: relative;
    left: 10em;
    top: 3em;
     padding-bottom: 2.5em;
}

}

@media (min-width: 1024px) {
    body {
        margin-left: 10%;
    }
}

@media (min-width: 1440px) {

    body {
        margin-left: 60px;
    }

    button:hover {
        cursor: pointer;
    }

    .order-btn {
        left: 59em;
    }

    .order-btn:hover {
        background: #162542;
        color: #FFF;
    }

    .keyboard-desktop, .left-img-desktop,.right-img-desktop {
        display: initial;
            border-radius: 10px;
        }

    .left-img-tablet,.right-img-tablet,.keyboard-tablet {
        display: none;
    }

    .keyboard-desktop {
        width: 100%;
        flex-shrink: 0;
        position: relative;
        left: 37em;
    }

    .section-title-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-title {
        left: 45px;
    }

    .section-title,.section-txt {
        text-align: left;
    }

    .preorder-middle:hover {
        background: #FF9B62;
    }

    .left-img-desktop {
        width: 255px;
    }

    .right-img-desktop {
        width: 443px;
    }

    .grid-primary {
        grid-template-areas: 
        'one two three';
        grid-gap: 4em;
    }

    .grid-secondary {
        grid-template-areas: 
        'compatible wireless battery rgb';
        grid-gap: 25px;
        margin-left: 0;
    }
    
    .copy {
        left: 30em;
    }
}

@media (min-width: 1920px) {

    .order-btn {
        left: 85em;
    }

    .section-title-div,.keyboard-desktop {
        width: 1100px;
        height: 536px;
    }

    .keyboard-desktop {
        left: 11em;
    }

    .grid-primary {
        grid-template-areas: 
        'one two three';
        grid-gap: 9em;
    }

    .section-title-div {
        position: relative;
        right: 15em;
        bottom: 6em;
    }

    .grid-secondary {
        grid-gap: 155px;
    }

    .copy {
        left: 42em;
    }
}